.post-list {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    flex-basis: 66.6667%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    max-width: 66.6667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: left;
    width: 760px;
}

.single-post {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
}

.meta-details {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-top: 35px;
    max-width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: right;
    width: 190px;
}

.tags {
    box-sizing: border-box;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22.75px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: right;
}

.li {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: right;
}

.user-details {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
        line-height: 22.75px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: right;
}

.a {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-right: 10px;
    outline-color: rgb(119, 119, 119);
    outline-style: none;
    outline-width: 0px;
    text-align: right;
    text-decoration: rgb(119, 119, 119);
    text-decoration-color: rgb(119, 119, 119);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.span {
    color: red;
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    text-align: right;
    text-transform: none;
    height: 5px;
}

.h3 {
    font-size: 24px;
    color:#222222;
    opacity: 1;
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;
    box-sizing: border-box;

}

h3:hover {
    color: #007bff;
}

.excert {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22.75px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: left;
}

.btn {
    font-weight: bold;    
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
}

.icon {
    color: #222222;
    width: 14px;
    font-weight: bold;
    top: 10px;
}

.widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid#eee;
    font-family: "Poppins", sans-serif;
    opacity: 1;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.625em;
}


.widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table;
}

.widget-wrap .search-widget form.search-form input[type="text"] {
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background:#007bff;
    font-size: 14px;
    font-family: "Poppins" sans-serif;
}

.widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background:#007bff;
    color:#fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.widget-wrap .user-info-widget {
    text-align: center;
}

/* .img {
    vertical-align: middle;
    border-style: none;
    width: 120px;
    height: 120px;
    border-radius: 120px;
} */

.single-sidebar-widget .user-info-widget {
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.name {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    margin-bottom: 5px;
    margin-top: 40px;
    text-align: center;
}

.job {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: center;
}

.social-links {
    list-style-type: none
}

.li-social-links {
    margin-right: 20px;
}

.icon-sosmed {
    width: 11px;
}

.widget-wrap .single-sidebar-widget {

    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.popular-title {
    font-family: "poppins", sans-serif;
    color: #fff;
    font-size: 18px;
}

.btn-popular-post {
    background-color: #8490ff;
    font-weight: bold;    
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
}

.img-fluid-popular-post {
    height: 60px;
    max-width: 100%;
    vertical-align: middle;
    width: 100px;
}

.details {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-left: 12px;
}

.cat-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

.widget-wrap .post-category-widget .cat-list li {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 2px dotted#eee;
}

.widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.widget-wrap .newsletter-widget .bbtns {
    background:#8490ff;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 0;
}

.form-group {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 16px;
    text-align: left;
}

.col-autos {
    width: 100%;
}

.li-tags {
        margin: 0;
        padding: 0;
        list-style: none;
}

.widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid#eee;
    background:#fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}