.top-category-widget-area {
    background-color: rgb(249, 249, 255);
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: left;
}

.single-cat-widget {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    position: relative;
    text-align: center;
}

.content-title {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    position: relative;
    text-align: center;
}

.overlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.85);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 0px;
    line-height: 22.75px;
    margin-bottom: 24.4833px;
    margin-left: 24.4833px;
    margin-right: 24.4833px;
    margin-top: 24.4833px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.thumb {
    box-sizing: border-box;
    color: rgb(0, 123, 255);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    text-align: center;
}

/* .content-image */
.content-image {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-sizing: border-box;
    color: rgb(0, 123, 255);
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 213.883px;
    line-height: 22.75px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    width: 349.983px;
}

.content-details {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 0px;
    line-height: 22.75px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 68.4333px;
}

.span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 1.45px;
    line-height: 22.75px;
    text-align: center;
    width: 209.983px;
}

.p {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: center;
}

