/* .meta-details {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-top: 35px;
    max-width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: right;
    width: 190px;
} */



h3:hover {
    color: #007bff;
}

/* Right */

/* .form-group {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.75px;
    margin-bottom: 16px;
    text-align: left;
} */

/* pagination */

.page-item:hover {
    background-color: #17a2b8;
    color: #fff;
}