footer {
    background-color: #04091e;
}

footer-area {
    background-color: #04091e;
}

.section-gap {
    padding: 120px 0;
}

.container {
    max-width: 1140px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.single-footer-widget .btn {
    font-size: 5px;
    border-radius: 0;
    background:#17a2b8;
    color:#fff;
}

.form-control {
    font-size: 5px;
}

h4 {
    color: #fff;
}

.icon-sosmed {
    color: #fff;
}